{% block body %}
    <form id="form" action="{{ path('update_image', {'id':image.id}) }}" method="post" enctype="multipart/form-data">
        <div id="form-container">
            {{ form_row(form.file) }}
            {{ form_rest(form) }}
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Modifier" class="btn btn-success"/>
        </div>
    </form>
{% endblock %}